body,html {
  margin: 0;
  padding: 0;
  height:100vh;
  background-color:#121212;
  color: #fefefe;
}

#gamelog {
  width: 640px;
  height: 110px;
  overflow-y: scroll;
}

canvas {
  width: 640px;
  height: 480px;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

